*{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    
    margin-bottom: -20px;
    background-color: #0A2F5C;
}

@media (max-width: 768px){
    header{
        width: 100%;
    }
}

.irlogin {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background-color: #00b386;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.irlogin:hover {
  background-color: #009970;
}

#logo{ /*Mexe na logo*/
    
    width: 189px;
    cursor: pointer;
    transition: transform 0.5s ease;
    padding-left: 20.2rem;
}

@media (max-width: 768px){
    #logo{
        padding-left: 1.5rem;
        scale: 60%;
    }
}

#logo:hover{
    transform: scale(1.05);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F2F2F2;
  color: #333333;
}



#menuhome{ /*Mexe na barra grande do menu*/
    display: flex;
    background-color:#0A2F5C;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -50px;
}

@media (max-width: 768px){
    #menuhome{
        scale: 80%;
    }
}

#navegacao{ /*Mexe na tag <ol>*/
    display: flex;
    list-style: none;
    

}



.box_lista{ /*Mexe na tag <li>*/
    display: flex;
    margin: 3vw;
    background-color: #1ABC9C;
    width: 11.11vh;
    justify-content: center;
    align-items: center;
    height: 1.875rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s ease;
}

.box_lista:hover{   /*Efeito do <li>*/
    transform: scale(1.2);
    background-color: #154D8C;
}

.texto_menu{ /*Mexe no texto do menu de navegação*/
    text-decoration: none;
    color: #FFFFFF;
}



/*..................*/

.container-produto{
    max-width: 1000px;
      margin: 2rem auto;
      background-color: white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.display-fotos {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin-bottom: 1.5rem;
}

.display-fotos img {
    width: 300px;
    border-radius: 10px;
}

.info {
    margin-bottom: 2rem;
}

.adicionais {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.box-informacoes {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.preco {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #0b2c4d;
}

.botao-whats{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #00b386;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.7s;
}
.botao-whats:hover{
    
    transform: scale(1.1);
}

/*......................*/

footer{
    margin: 0;
    margin-top: 20px;
    gap: 20rem;
    padding: 40px 20px;
    background-color: #0A2F5C;
    color: #FFFFFF;
}

.footer-subcmd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    color: #A0D2DB;
}

.footer-sobre{
    text-align: center;
    max-width: 450px;
}

.footer-links li a{
    color: #1ABC9C;
    text-decoration: none;
}

.footer-copy {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #1E487C; 
    font-size: 0.8em;
    color: #A0D2DB; 
}

.img-redes{
    width: 3.8rem;
}
